body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: white;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 1280px;
}

.table {
  margin: 0 0 20px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: small;
}
@media screen and (max-width: 740px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  color: #ffffff;
  background: #ea6153;
  font-weight: 900;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 740px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}
.time {
  width: auto !important;
  white-space: nowrap;
}
.subject {
  padding: 6px 12px;
  width: auto !important;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 740px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
